untracked
docs/src/MIPS-manual/MIPS-manual.aux
docs/src/MIPS-manual/MIPS-manual.brf
docs/src/MIPS-manual/MIPS-manual.lof
docs/src/MIPS-manual/MIPS-manual.log
docs/src/MIPS-manual/MIPS-manual.lot
docs/src/MIPS-manual/MIPS-manual.out
docs/src/MIPS-manual/MIPS-manual.pdf
docs/src/MIPS-manual/MIPS-manual.synctex.gz
docs/src/MIPS-manual/MIPS-manual.synctex.gz (busy)
docs/src/MIPS-manual/MIPS-manual.toc
