untracked
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.aux
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.brf
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.lof
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.log
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.lot
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.out
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.pdf
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.synctex.gz
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.synctex.gz(busy)
docs/src/MP-Opt-Model-manual/MP-Opt-Model-manual.toc
