untracked
docs/src/MOST-manual/MOST-manual.aux
docs/src/MOST-manual/MOST-manual.brf
docs/src/MOST-manual/MOST-manual.lof
docs/src/MOST-manual/MOST-manual.log
docs/src/MOST-manual/MOST-manual.lot
docs/src/MOST-manual/MOST-manual.out
docs/src/MOST-manual/MOST-manual.pdf
docs/src/MOST-manual/MOST-manual.synctex.gz
docs/src/MOST-manual/MOST-manual.synctex.gz(busy)
docs/src/MOST-manual/MOST-manual.toc
